@font-face {
    font-family: 'Pretendard';
    src: url('./assets/Pretendard-Regular.woff2') format('woff2');
    font-weight: light;
    font-style: normal;
  }
@font-face {
    font-family: 'Pretendard';
    src: url('./assets/Pretendard-Black.woff2') format('woff2');
    font-weight: bolder;
    font-style: normal;
  }
@font-face {
    font-family: 'Pretendard';
    src: url('./assets/Pretendard-Light.woff2') format('woff2');
    font-weight: lighter;
    font-style: normal;
  }
@font-face {
    font-family: 'Pretendard';
    src: url('./assets/Pretendard-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
  }
@font-face {
    font-family: 'Pretendard';
    src: url('./assets/Pretendard-Medium.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Pretendard', sans-serif;
    background: white;
    font-weight: light;
    padding: 20px;
}

strong {
    font-weight: light ;
    color: #222;
}
.container {
    max-width: 1600px;
    margin: 0 auto;
}

.header {
    margin: 0;
    width: 100%;
    height: 100px; 
    background-color: white;
    border-bottom: 1px solid #ddd;
    top: 0; 
    z-index: 1000; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
}
  

h1 {
    top: 10px;
    font-size: 64px;
    font-weight: bolder;
    background-color: white;
    position: fixed;
}

h2 {
    color: white;
}

.expand-button {
    font-family: inherit;
    border: none;
    background: #fffb00d5;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    top: 20px;
    right: 20px;
    z-index: 1000;
    position: fixed;
}

#intro-paragraph {
    display: none;
    transition: all 0.3s ease-in-out;
    margin-bottom: 10px;
}

#intro-paragraph.expanded {
    display: block;
    margin-bottom: 10px;
    margin-left: 5px;
    color: #939393;
    font-size: lighter;
    top:100px;
}

#projects-container {
    margin-top: 100px; 
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

.project-row {
    display: flex;
    align-items: stretch;
    background-color: #f8f8f8; 
    border-bottom: 1px solid #e5e5e5;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
    height: relative;
    padding: 2px;
}

.project-row:hover {
    background-color: #fffb00d5; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer; 
}

.project-name {
    padding: 5px;
    width: 350px;
    font-weight: bold;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.project-description {
    flex-grow: 1;
    text-align: left; 
    margin-left: 20px; 
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 5px;
    max-width: 650px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    font-size: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: lighter;
}

.student-info {
    width: 200px;
    text-align: right;
    margin-left: auto;
    font-size: 75%;
    font-weight: bold;
    color: #939393;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.project-image {
    width: 100px;
    height: 100%;
    object-fit: cover;
    align-self: center;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 1000;
}

.modal-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    max-width: 1920px;
    margin: 0 auto;
}

.modal-header h2 {
    color: white;
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
    flex: 1;
    margin: 0;
}

.nav-arrow {
    background: none;
    border: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
    padding: 50px;
    font-weight: 100;
}

.modal-content {
    width: 55%;
    height: 70%;
    padding-bottom: 50px;
    position: relative;
    margin: 0 auto;
}

.modal-content iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #222;
}

.home-button {
    position: fixed;
    bottom: 40px;
    left: 40px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-family: inherit;
}

.home-button svg {
    width: 32px;
    height: 32px;
}

.class-description {
    width: 100%;
    padding: 20px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #E5E5E5;
}

.class-description.expanded {
    display: block;
}