@font-face {
    font-family: 'Pretendard';
    src: url('./assets/Pretendard-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Pretendard';
    src: url('./assets/Pretendard-Black.woff2') format('woff2');
    font-weight: bolder;
    font-style: normal;
  }
@font-face {
    font-family: 'Pretendard';
    src: url('./assets/Pretendard-Light.woff2') format('woff2');
    font-weight: lighter;
    font-style: normal;
  }
@font-face {
    font-family: 'Pretendard';
    src: url('./assets/Pretendard-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Pretendard', sans-serif;
    background: white;
    font-weight: normal;
    padding: 40px;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    margin-bottom: 50px;
  }
  

h1 {
    font-size: 64px;
    font-weight: bolder;
    margin-bottom: 50px;
}

.expand-button {
    font-family: inherit;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

#intro-paragraph {
    display: none;
    transition: all 0.3s ease-in-out;
}

#intro-paragraph.expanded {
    display: block;
}

.project-row {
    display: flex;
    align-items: stretch;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e5e5e5;
}

.project-name {
    padding: 5px;
    width: 150px;
    font-weight: bold;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    align-self: center;
}

.project-description {
    flex-grow: 1;
    text-align: left; 
    margin-left: 20px; 
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 5px;
    max-width: 800px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    align-self: center;
    font-size: 95%;
}

.student-info {
    width: 200px;
    padding: 20px;
    text-align: right;
    margin-left: auto;
    font-size: 75%;
    align-self: center;
    font-weight: bold;
    color: #939393;
}

.project-image {
    width: 100px;
    height: 100%;
    object-fit: cover;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 1000;
}

.modal-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    max-width: 1920px;
    margin: 0 auto;
}

.modal-header h2 {
    color: white;
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
    flex: 1;
    margin: 0;
}

.nav-arrow {
    background: none;
    border: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
    padding: 50px;
    font-weight: 100;
}

.modal-content {
    width: 55%;
    height: 55%;
    padding-bottom: 50px;
    position: relative;
    margin: 0 auto;
}

.modal-content iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #222;
}

.home-button {
    position: fixed;
    bottom: 40px;
    left: 40px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-family: inherit;
}

.home-button svg {
    width: 32px;
    height: 32px;
}

.class-description {
    width: 100%;
    padding: 20px 0;
    margin-bottom: 40px;
    border-bottom: 1px solid #E5E5E5;
}

.class-description.expanded {
    display: block;
}


